body {
  background: #FFF9F6;
  padding: 30px;
}

h1 {
  color: #EF9E84 !important;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px !important;
  margin-bottom: 50px !important;
  font-family: 'Ubuntu', sans-serif !important;
}

p {
  font-family: 'Open Sans', sans-serif !important;
}

.panel > .panel-heading {
    background-color: #BDC3AF !important;
}

.panel-title {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  color: #fff !important;
  letter-spacing: 2px;
}

th {
  font-family: 'Open Sans', sans-serif !important;
}

td {
  font-family: 'Open Sans', sans-serif !important;
}

#submit {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600 !important;
  font-size: 12px !important;
  background-color: #333;
  border-radius: 3px;
  border: none;
  color: #fff;
}


/* borders */
#top,
#bottom,
#left,
#right {
  background-color: #BDC3AF;
  position: fixed;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

